  /******************/
 /*    GENERAL     */
/******************/
* {
  border-radius: 0 !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  background-image: url('../assets/wallpapers/finalwebwallpaper.png');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  color: #293241; 
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* header/footer */
header {
  background-color: #293241; 
  padding: 50px;
  text-align: center;
}

footer {
  background-color: #293241; 
  padding: 50px;
  text-align: center;
  margin-top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

nav a {
  color:#FFFFFF; 
  text-decoration: none;
  font-weight: 400;
}

nav a:hover {
  color:  #FEF1F3;
  font-style: italic;
}

header h1, footer h1 {
  font-family: 'Monsieur La Doulaise', cursive;
  color: #FFFFFF;
  margin: 0;
  font-size: 3em;
  text-align: center;
}

footer p {
  font-family: 'Playfair Display', serif;
  color: #FFFFFF;
  font-size: 1em;
  text-align: center;
}

/* general main */
/* default (desktop) */
main {
  max-width: 1440px;
  margin: auto;
  padding: 40px 20px; /* More padding for a luxurious feel */
}

/* tablet and smaller */
@media (max-width: 768px) {
  main {
    padding: 30px 15px; /* Less padding on smaller screens */
  }
}

/* mobile and smaller */
@media (max-width: 480px) {
  main {
    padding: 20px 10px; /* Even less padding on very small screens */
  }
}

/* headings */
h1, h2, h3 {
  color: #293241; 
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}

a {
  color: #FFFFFF; 
  text-decoration: none;
}

a:hover {
  color: #FEF1F3; /* On hover, match headings for a cohesive feel */
}

/* general sectioning */
section {
  margin-bottom: 40px; /* Space between sections */
  background-color: transparent;
  padding: 0;
  border-radius: 0; /* Soft rounded corners */
  color: inherit; /* Light text */
  text-align: inherit;
}

.section-label {
  background-color: #293241;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 2em;
  margin: 60px 0 20px; 
  padding: 10px;
}

section h1,
section h2,
section h3 {
  margin-bottom: 10px;
  text-align: center;
  line-height : 1.2; 
}

section h1 {
  font-size: 1.8em;
  color: #FFFFFF;
  font-weight: 400;
}

section h2 {
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: 400;
}

section h3 {
  font-size: 2.5em;
  color: #FFFFFF;
  font-weight: 400;
}

section p {
  color: #FFFFFF; 
  line-height: 1.6; 
  text-align: center;
  font-size: 1em;
  margin-bottom: 10px;
}

/* section links */
section a {
  color: #FEF1F3;
  text-decoration: none;
}

section a:hover {
  color: #FFFFFF;
}

/* section navigation */
section nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}

section nav ul li a {
  background-color: #FEF1F3;
  color: #293241;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 400;
  transition: background-color 0.3s ease;
  display: flex;
  text-decoration: none;
}

section nav ul li a:hover {
  background-color: #F9B9C3; 
}

  /******************/
 /*    LANDING     */
/******************/

/* Home page styles */
.intro {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-color:#293241;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.text-box {
  display: inline-block; /* Shrink to fit content width */
  text-align: center; /* Center align the text */
  padding: 40px 80px; /* Adds space around the text inside the box */
  z-index: 1;
  border-radius: 0; 
}

/* Heading and subtitle styles */
.text-box h1 {
  font-family: 'Monsieur La Doulaise', cursive;
  color: #FFFFFF; 
  font-size: 8em;
  font-weight: 400px;
  margin: 0;
  text-align: center;
}

.text-box p {
  font-size: 1.2em;
  color: #FFFFFF; 
  margin-top: 10px; 
  text-align: center;
}

.get-to-know {
  background-color: #FEF1F3; 
  text-align: center;
  padding: 40px 20px;
  border-top: 5px solid #FFFFFF;
  border-bottom: 5px solid #FFFFFF;
  margin-bottom: 40px;
}

.get-to-know p {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #293241;
}

.about-me-click {
  color: #293241;
  text-decoration: none;
}

.about-me-click:hover {
  color: #293241;
  font-style: italic;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  gap: 25px;
  max-width: 1000px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 20px auto 0;
  padding: 20px 40px;
}

.info-text {
  width: 1000px;
  margin: 40px auto;
  padding: 40px 30px;
  background-color: #293241;
  color: #FFFFFF;
  text-align: center;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  margin-bottom: 0;
}

.info-text h2 {
  color: #FFFFFF;
  font-size: 2.5em;
  margin-bottom: 15px;
  font-weight: 400;
}

.info-text p {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.banner-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.banner-button {
  display: inline-block;
  background-color: #293241;
  color: #FFFFFF;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 4em;
  padding: 30px 60px;
  width: 487.5px;
  height: 200px;
  text-align: center;
  border: none;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border-radius: 0;
}

.banner-button:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

  /******************/
 /*    ABOUT ME    */
/******************/

.about-section {
  padding: 60px 20px;
  text-align: center;
}

.photo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  max-width: 500px;
  margin: 0 auto;
}

.about-text-box {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #293241;
  color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  font-family: 'Playfair Display', serif;
  line-height: 1.6;
}

.intro-hover {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 4em;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

  /******************/
 /*    CONTACT!    */
/******************/

.contact-container {
  text-align: center;
  padding: 20px;
  background: #293241;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  width: 1000px;
  margin: 40px auto;
}

.contact-container h1 {
  font-family: 'Monsieur La Doulaise', cursive;
  color: #FFFFFF;
  font-size: 4em;
  margin-bottom: 10px;
}

.contact-container p {
  font-size: 1.2em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.contact-links a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-links img {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  transition: transform 0.2s ease;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #293241;
  background-color: #FEF1F3;
}

.container h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #293241;
}

.container p {
  font-size: 1em;
  margin-bottom: 25px;
  color: #555;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

canvas#gameCanvas {
  border: 2px solid #293241;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: white;
  max-width: 100%;
  height: auto;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.controls button {
  font-family: 'Playfair Display', serif;
  padding: 10px 16px;
  background-color: #293241;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.95em;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.controls button:hover {
  background-color: #F9B9C3;
  color: #293241;
  transform: translateY(-2px);
}


  /******************/
 /*    PROJECTS    */
/******************/
.project-category {
  text-align: center;
}

.category-title {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 2.5em;
  color: #293241;
  background-color: #293241;
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 10px;
  display: inline-block;
  width: 1000px;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-title h2{
  font-size: 1em;
  margin: 0;
}

.category-title p {
  font-family: 'Playfair Display', serif;
  font-size: 0.25em;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 487.5px);
  gap: 25px;
  max-width: 1000px;
  margin: 12.5px auto; /* Center the grid */
  justify-content: center;
}

.project-card {
  background-color: #293241;
  color: white;
  padding: 30px 20px;
  border-radius: 10px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  height: 300px;
}

.project-card:hover {
  background-color: #FEF1F3;
  color: #293241;
  transform: translateY(-5px);
}

.project-card:hover h3, .project-card:hover .project-subtitle, .project-card:hover p {
  color: #293241; /* Change text color on hover */
}

.project-card h3 {
  margin-top: 15px;
  font-size: 2em;
  margin-bottom: 10px;
}

.project-subtitle {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 3em;
  margin-bottom: 15px;
  color: #f4f4f4;
}

.project-card .project-subtitle{
  font-size: 2em;
}

.project-card p {
  font-size: 1em;
  line-height: 1.6;
  color: #f4f4f4;
  margin-bottom: 15px;
}



  /******************/
 /*    RESUME!!    */
/******************/
.resume-header {
  text-align: center;
  padding: 20px;
  background: #293241;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  width: 1000px;
  margin: 40px auto;
}

.resume-header h1 {
  font-family: 'Monsieur La Doulaise', cursive;
  color: #FFFFFF;
  font-size: 4em;
  margin-top: 20px;
  margin-bottom: 10px;
}
.resume-header p {
  font-size: 1.2em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.resume-header a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

.resume-header a:hover {
  color: #FEF1F3;
}

.resume-download-grid {
  display: grid;
  grid-template-columns: repeat(2, 487.5px);
  gap: 25px;
  max-width: 1000px;
  margin: 12.5px auto; /* Center the grid */
  justify-content: center;
}

.resume-card {
  background-color: #293241;
  color: white;
  padding: 30px 20px;
  border-radius: 10px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  height: 225px;
}

.resume-card:hover {
  background-color: #FEF1F3;
  color: #293241;
  transform: translateY(-5px);
}

.resume-card:hover h3, .resume-card:hover .resume-subtitle, .resume-card:hover p {
  color: #293241; /* Change text color on hover */
}

.resume-card h3 {
  margin-top: 15px;
  font-size: 2em;
  margin-bottom: 10px;
}

.resume-card p {
  font-size: 1em;
  line-height: 1.6;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.resume-subtitle {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 2em !important;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.resume-category {
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

.skills-card {
  background-color: #293241;
  color: white;
  font-family: 'Playfair Display', serif;
  padding: 10px 15px;
  border-radius: 6px;
  text-align: center;
  font-size: 0.95em;
  transition: background-color 0.3s ease;
}

.skills-card:hover {
  background-color: #FEF1F3;
  color: #293241;
}


/* === Education Card === */
.education-card {
  background-color: #293241;
  color: #FFFFFF;
  font-family: 'Playfair Display', serif;
  padding: 30px 25px;
  border-radius: 10px;
  max-width: 1000px;
  margin: 30px auto;
  text-align: left;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  line-height: 1.6;
}

.education-card h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.education-card p {
  margin-bottom: 10px;
  font-size: 1em;
}

.education-card a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.education-card a:hover {
  background-color: #FEF1F3;
  color: #293241;
  transition: all 0.3s ease;
}

.education-card:hover {
  background-color: #FEF1F3;
  color: #293241;
  transform: translateY(-5px);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.education-card:hover h3, .education-card:hover p {
  color: #293241; /* Change text color on hover */
}


/* === Experience Cards === */

.experience-card {
  background-color: #293241;
  color: #FFFFFF;
  font-family: 'Playfair Display', serif;
  padding: 25px 20px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  line-height: 1.6;
  max-width: 1000px;
}

.experience-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
}

.experience-card h3 {
  font-size: 1.4em;
  margin-bottom: 8px;
  text-align: left;
}

.experience-card p {
  font-size: 1em;
  margin-bottom: 8px;
  text-align: left;
}

.experience-card ul {
  padding-left: 20px;
  margin-top: 10px;
  text-align: left;
}

.experience-card li {
  margin-bottom: 8px;
  font-size: 0.95em;
}

.year-category {
  text-align: center;
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(2, 487.5px);
  gap: 25px;
  max-width: 1000px;
  margin: 12.5px auto; /* Center the grid */
  justify-content: center;
}

.education-card {
  background-color: #293241;
  color: #FFFFFF;
  font-family: 'Playfair Display', serif;
  padding: 25px 20px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  line-height: 1.6;
}

.education-card h3 {
  font-size: 1em;
  margin-bottom: 10px;
}
.education-card p {
  font-size: 0.5em;
  margin-bottom: 10px;
}